* {
    xbackground-color: rgba(0, 0, 0, 0.1);
}

@keyframes roll {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(720deg)
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

div {
    width: 500px;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;
    animation: roll 10s infinite alternate;
}

div:hover {
    animation-play-state: paused;
}

li {
    width: 100px;
    height: 100px;
    margin: 5px;
    position: absolute;
}

/* 平面的正侧 */

li:nth-child(1) {
    transform: translateZ(110px);
}

li:nth-child(2) {
    transform: translateZ(10px);
}

li:nth-child(3) {
    transform: rotateX(90deg) translateY(60px) translateZ(50px);
}

li:nth-child(4) {
    transform: rotateX(90deg) translateY(60px) translateZ(-50px);
}

li:nth-child(5) {
    transform: rotateY(90deg) translateX(-60px) translateZ(50px);
}

li:nth-child(6) {
    transform: rotateY(90deg) translateX(-60px) translateZ(-50px);
}

/* 平面的另一侧 */

ul:nth-child(n+5) li:nth-child(1) {
    transform: translateZ(-100px);
}

ul:nth-child(n+5) li:nth-child(2) {
    transform: translateZ(0px);
}

ul:nth-child(n+5) li:nth-child(3) {
    transform: rotateX(90deg) translateY(-50px) translateZ(50px);
}

ul:nth-child(n+5) li:nth-child(4) {
    transform: rotateX(90deg) translateY(-50px) translateZ(-50px);
}

ul:nth-child(n+5) li:nth-child(5) {
    transform: rotateY(90deg) translateX(50px) translateZ(50px);
}

ul:nth-child(n+5) li:nth-child(6) {
    transform: rotateY(90deg) translateX(50px) translateZ(-50px);
}


/* 定位 */
.box1,
.box5 {
    bottom: 50%;
    right: 50%;
}

.box2,
.box6 {
    top: 50%;
    right: 50%;
}

.box3,
.box7 {
    bottom: 50%;
    left: 50%;
}

.box4,
.box8 {
    top: 50%;
    left: 50%;
}

.box1 {
    background-image: linear-gradient(#3F800A, #7EFF14, #66CC10);
}

.box2 {
    background-image: radial-gradient(#3F800A, #7EFF14, #66CC10);
}

.box3 {
    background-image: linear-gradient(to bottom right, #7EFF14, #66CC10);
}

.box4 {
    background-image: radial-gradient(#BEFF8A 30%, #66CC10 70%);
}

.box5 {
    background-image: radial-gradient(circle, #3F800A, #7EFF14, #66CC10);
}

.box6 {
    background-image: linear-gradient(to top right, #7EFF14, #66CC10);
}

.box7 {
    background-image: linear-gradient(to right, rgba(186, 255, 125, 0.5), rgba(98, 204, 6, 0.9));
}

.box8 {
    background-image: repeating-linear-gradient(#3F800A 30%, #7EFF14 60%, #66CC10);
}
